# Estados brasileiros

In [14]:
import pandas as pd
from dataclasses import dataclass
import enum
from pathlib import Path

In [18]:
data_path = Path().resolve().parent.joinpath('data_files')
Regiao = enum.Enum('Regiao', 'NORTE NORDESTE CENTROESTE SUDESTE SUL'.split())

@dataclass
class Estado:
    sigla: str
    nome: str
    capital: str
    regiao: Regiao

In [3]:
df1, df2 = pd.read_html('https://mundoeducacao.uol.com.br/geografia/estados-brasil.htm')

In [4]:
df = pd.DataFrame({'sigla': df1[1], 'estado': df1[0], 'capital': df2[1]})
df

    sigla               estado                                       capital
0   Sigla               Estado                                       Capital
1      AC                 Acre                                    Rio Branco
2      AL              Alagoas                                        Maceió
3      AP                Amapá                                        Macapá
4      AM             Amazonas                                        Manaus
5      BA                Bahia                                      Salvador
6      CE                Ceará                                     Fortaleza
7      ES       Espírito Santo                                       Vitória
8      GO                Goiás                                       Goiânia
9      MA             Maranhão                                      São Luís
10     MT          Mato Grosso                                        Cuiabá
11     MS   Mato Grosso do Sul                                  Campo Grande
12     MG         Minas Gerais                                Belo Horizonte
13     PA                 Pará                                         Belém
14     PB              Paraíba                                   João Pessoa
15     PR               Paraná                                      Curitiba
16     PE           Pernambuco                                        Recife
17     PI                Piauí                                      Teresina
18     RJ       Rio de Janeiro                                Rio de Janeiro
19     RN  Rio Grande do Norte                                         Natal
20     RS    Rio Grande do Sul                                  Porto Alegre
21     RO             Rondônia                                   Porto Velho
22     RR              Roraima                                     Boa Vista
23     SC       Santa Catarina                                 Florianópolis
24     SP            São Paulo                                     São Paulo
25     SE              Sergipe                                       Aracaju
26     TO            Tocantins                                        Palmas
27     DF     Distrito Federal  Brasília (capital do país e sede do governo)

In [5]:
df.columns = df.columns.str.upper()

In [6]:
df.drop(0, axis=0, inplace=True)

In [7]:
df.loc[27, 'CAPITAL'] = 'Brasília'

In [8]:
display(df.loc[df.SIGLA.str.contains('AC|AP|AM|TO|PA|RR|RO', regex=True)])
df.loc[df.SIGLA.str.contains('AC|AP|AM|TO|PA|RR|RO', regex=True), 'REGIAO'] = Regiao.NORTE.name

   SIGLA     ESTADO      CAPITAL
1     AC       Acre   Rio Branco
3     AP      Amapá       Macapá
4     AM   Amazonas       Manaus
13    PA       Pará        Belém
21    RO   Rondônia  Porto Velho
22    RR    Roraima    Boa Vista
26    TO  Tocantins       Palmas

In [9]:
display(df.loc[df.SIGLA.str.contains('CE|AL|BA|MA|PE|PB|PI|RN|SE', regex=True)])
df.loc[df.SIGLA.str.contains('CE|AL|BA|MA|PE|PB|PI|RN|SE', regex=True), 'REGIAO'] = Regiao.NORDESTE.name

   SIGLA               ESTADO      CAPITAL REGIAO
2     AL              Alagoas       Maceió    NaN
5     BA                Bahia     Salvador    NaN
6     CE                Ceará    Fortaleza    NaN
9     MA             Maranhão     São Luís    NaN
14    PB              Paraíba  João Pessoa    NaN
16    PE           Pernambuco       Recife    NaN
17    PI                Piauí     Teresina    NaN
19    RN  Rio Grande do Norte        Natal    NaN
25    SE              Sergipe      Aracaju    NaN

In [10]:
display(df.loc[df.SIGLA.str.contains('DF|GO|MT|MS', regex=True)])
df.loc[df.SIGLA.str.contains('DF|GO|MT|MS', regex=True), 'REGIAO'] = Regiao.CENTROESTE.name

   SIGLA              ESTADO       CAPITAL REGIAO
8     GO               Goiás       Goiânia    NaN
10    MT         Mato Grosso        Cuiabá    NaN
11    MS  Mato Grosso do Sul  Campo Grande    NaN
27    DF    Distrito Federal      Brasília    NaN

In [11]:
display(df.loc[df.SIGLA.str.contains('SP|RJ|ES|MG', regex=True)])
df.loc[df.SIGLA.str.contains('SP|RJ|ES|MG', regex=True), 'REGIAO'] = Regiao.SUDESTE.name

   SIGLA          ESTADO         CAPITAL REGIAO
7     ES  Espírito Santo         Vitória    NaN
12    MG    Minas Gerais  Belo Horizonte    NaN
18    RJ  Rio de Janeiro  Rio de Janeiro    NaN
24    SP       São Paulo       São Paulo    NaN

In [12]:
display(df.loc[df.SIGLA.str.contains('RS|PR|SC', regex=True)])
df.loc[df.SIGLA.str.contains('RS|PR|SC', regex=True), 'REGIAO'] = Regiao.SUL.name

   SIGLA             ESTADO        CAPITAL REGIAO
15    PR             Paraná       Curitiba    NaN
20    RS  Rio Grande do Sul   Porto Alegre    NaN
23    SC     Santa Catarina  Florianópolis    NaN

In [13]:
df

   SIGLA               ESTADO         CAPITAL      REGIAO
1     AC                 Acre      Rio Branco       NORTE
2     AL              Alagoas          Maceió    NORDESTE
3     AP                Amapá          Macapá       NORTE
4     AM             Amazonas          Manaus       NORTE
5     BA                Bahia        Salvador    NORDESTE
6     CE                Ceará       Fortaleza    NORDESTE
7     ES       Espírito Santo         Vitória     SUDESTE
8     GO                Goiás         Goiânia  CENTROESTE
9     MA             Maranhão        São Luís    NORDESTE
10    MT          Mato Grosso          Cuiabá  CENTROESTE
11    MS   Mato Grosso do Sul    Campo Grande  CENTROESTE
12    MG         Minas Gerais  Belo Horizonte     SUDESTE
13    PA                 Pará           Belém       NORTE
14    PB              Paraíba     João Pessoa    NORDESTE
15    PR               Paraná        Curitiba         SUL
16    PE           Pernambuco          Recife    NORDESTE
17    PI                Piauí        Teresina    NORDESTE
18    RJ       Rio de Janeiro  Rio de Janeiro     SUDESTE
19    RN  Rio Grande do Norte           Natal    NORDESTE
20    RS    Rio Grande do Sul    Porto Alegre         SUL
21    RO             Rondônia     Porto Velho       NORTE
22    RR              Roraima       Boa Vista       NORTE
23    SC       Santa Catarina   Florianópolis         SUL
24    SP            São Paulo       São Paulo     SUDESTE
25    SE              Sergipe         Aracaju    NORDESTE
26    TO            Tocantins          Palmas       NORTE
27    DF     Distrito Federal        Brasília  CENTROESTE

In [21]:
help(df.to_json)

Help on method to_json in module pandas.core.generic:

to_json(path_or_buf: 'FilePath | WriteBuffer[bytes] | WriteBuffer[str] | None' = None, orient: 'str | None' = None, date_format: 'str | None' = None, double_precision: 'int' = 10, force_ascii: 'bool_t' = True, date_unit: 'str' = 'ms', default_handler: 'Callable[[Any], JSONSerializable] | None' = None, lines: 'bool_t' = False, compression: 'CompressionOptions' = 'infer', index: 'bool_t' = True, indent: 'int | None' = None, storage_options: 'StorageOptions' = None) -> 'str | None' method of pandas.core.frame.DataFrame instance
    Convert the object to a JSON string.

    Note NaN's and None will be converted to null and datetime objects
    will be converted to UNIX timestamps.

    Parameters
    ----------
    path_or_buf : str, path object, file-like object, or None, default None
        String, path object (implementing os.PathLike[str]), or file-like
        object implementing a write() function. If None, the result is
        returned as a string.
    orient : str
        Indication of expected JSON string format.

        * Series:

            - default is 'index'
            - allowed values are: {'split', 'records', 'index', 'table'}.

        * DataFrame:

            - default is 'columns'
            - allowed values are: {'split', 'records', 'index', 'columns',
              'values', 'table'}.

        * The format of the JSON string:

            - 'split' : dict like {'index' -> [index], 'columns' -> [columns],
              'data' -> [values]}
            - 'records' : list like [{column -> value}, ... , {column -> value}]
            - 'index' : dict like {index -> {column -> value}}
            - 'columns' : dict like {column -> {index -> value}}
            - 'values' : just the values array
            - 'table' : dict like {'schema': {schema}, 'data': {data}}

            Describing the data, where data component is like ``orient='records'``.

    date_format : {None, 'epoch', 'iso'}
        Type of date conversion. 'epoch' = epoch milliseconds,
        'iso' = ISO8601. The default depends on the `orient`. For
        ``orient='table'``, the default is 'iso'. For all other orients,
        the default is 'epoch'.
    double_precision : int, default 10
        The number of decimal places to use when encoding
        floating point values.
    force_ascii : bool, default True
        Force encoded string to be ASCII.
    date_unit : str, default 'ms' (milliseconds)
        The time unit to encode to, governs timestamp and ISO8601
        precision.  One of 's', 'ms', 'us', 'ns' for second, millisecond,
        microsecond, and nanosecond respectively.
    default_handler : callable, default None
        Handler to call if object cannot otherwise be converted to a
        suitable format for JSON. Should receive a single argument which is
        the object to convert and return a serialisable object.
    lines : bool, default False
        If 'orient' is 'records' write out line-delimited json format. Will
        throw ValueError if incorrect 'orient' since others are not
        list-like.
    compression : str or dict, default 'infer'
        For on-the-fly compression of the output data. If 'infer' and 'path_or_buf' is
        path-like, then detect compression from the following extensions: '.gz',
        '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
        (otherwise no compression).
        Set to ``None`` for no compression.
        Can also be a dict with key ``'method'`` set
        to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'tar'``} and other
        key-value pairs are forwarded to
        ``zipfile.ZipFile``, ``gzip.GzipFile``,
        ``bz2.BZ2File``, ``zstandard.ZstdCompressor`` or
        ``tarfile.TarFile``, respectively.
        As an example, the following could be passed for faster compression and to create
        a reproducible gzip archive:
        ``compression={'method': 'gzip', 'compresslevel': 1, 'mtime': 1}``.

            .. versionadded:: 1.5.0
                Added support for `.tar` files.

        .. versionchanged:: 1.4.0 Zstandard support.

    index : bool, default True
        Whether to include the index values in the JSON string. Not
        including the index (``index=False``) is only supported when
        orient is 'split' or 'table'.
    indent : int, optional
       Length of whitespace used to indent each record.

       .. versionadded:: 1.0.0

    storage_options : dict, optional
        Extra options that make sense for a particular storage connection, e.g.
        host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
        are forwarded to ``urllib.request.Request`` as header options. For other
        URLs (e.g. starting with "s3://", and "gcs://") the key-value pairs are
        forwarded to ``fsspec.open``. Please see ``fsspec`` and ``urllib`` for more
        details, and for more examples on storage options refer `here
        <https://pandas.pydata.org/docs/user_guide/io.html?
        highlight=storage_options#reading-writing-remote-files>`_.

        .. versionadded:: 1.2.0

    Returns
    -------
    None or str
        If path_or_buf is None, returns the resulting json format as a
        string. Otherwise returns None.

    See Also
    --------
    read_json : Convert a JSON string to pandas object.

    Notes
    -----
    The behavior of ``indent=0`` varies from the stdlib, which does not
    indent the output but does insert newlines. Currently, ``indent=0``
    and the default ``indent=None`` are equivalent in pandas, though this
    may change in a future release.

    ``orient='table'`` contains a 'pandas_version' field under 'schema'.
    This stores the version of `pandas` used in the latest revision of the
    schema.

    Examples
    --------
    >>> import json
    >>> df = pd.DataFrame(
    ...     [["a", "b"], ["c", "d"]],
    ...     index=["row 1", "row 2"],
    ...     columns=["col 1", "col 2"],
    ... )

    >>> result = df.to_json(orient="split")
    >>> parsed = json.loads(result)
    >>> json.dumps(parsed, indent=4)  # doctest: +SKIP
    {
        "columns": [
            "col 1",
            "col 2"
        ],
        "index": [
            "row 1",
            "row 2"
        ],
        "data": [
            [
                "a",
                "b"
            ],
            [
                "c",
                "d"
            ]
        ]
    }

    Encoding/decoding a Dataframe using ``'records'`` formatted JSON.
    Note that index labels are not preserved with this encoding.

    >>> result = df.to_json(orient="records")
    >>> parsed = json.loads(result)
    >>> json.dumps(parsed, indent=4)  # doctest: +SKIP
    [
        {
            "col 1": "a",
            "col 2": "b"
        },
        {
            "col 1": "c",
            "col 2": "d"
        }
    ]

    Encoding/decoding a Dataframe using ``'index'`` formatted JSON:

    >>> result = df.to_json(orient="index")
    >>> parsed = json.loads(result)
    >>> json.dumps(parsed, indent=4)  # doctest: +SKIP
    {
        "row 1": {
            "col 1": "a",
            "col 2": "b"
        },
        "row 2": {
            "col 1": "c",
            "col 2": "d"
        }
    }

    Encoding/decoding a Dataframe using ``'columns'`` formatted JSON:

    >>> result = df.to_json(orient="columns")
    >>> parsed = json.loads(result)
    >>> json.dumps(parsed, indent=4)  # doctest: +SKIP
    {
        "col 1": {
            "row 1": "a",
            "row 2": "c"
        },
        "col 2": {
            "row 1": "b",
            "row 2": "d"
        }
    }

    Encoding/decoding a Dataframe using ``'values'`` formatted JSON:

    >>> result = df.to_json(orient="values")
    >>> parsed = json.loads(result)
    >>> json.dumps(parsed, indent=4)  # doctest: +SKIP
    [
        [
            "a",
            "b"
        ],
        [
            "c",
            "d"
        ]
    ]

    Encoding with Table Schema:

    >>> result = df.to_json(orient="table")
    >>> parsed = json.loads(result)
    >>> json.dumps(parsed, indent=4)  # doctest: +SKIP
    {
        "schema": {
            "fields": [
                {
                    "name": "index",
                    "type": "string"
                },
                {
                    "name": "col 1",
                    "type": "string"
                },
                {
                    "name": "col 2",
                    "type": "string"
                }
            ],
            "primaryKey": [
                "index"
            ],
            "pandas_version": "1.4.0"
        },
        "data": [
            {
                "index": "row 1",
                "col 1": "a",
                "col 2": "b"
            },
            {
                "index": "row 2",
                "col 1": "c",
                "col 2": "d"
            }
        ]
    }

In [29]:
df.sort_values('ESTADO')

   SIGLA               ESTADO         CAPITAL      REGIAO
1     AC                 Acre      Rio Branco       NORTE
2     AL              Alagoas          Maceió    NORDESTE
3     AP                Amapá          Macapá       NORTE
4     AM             Amazonas          Manaus       NORTE
5     BA                Bahia        Salvador    NORDESTE
6     CE                Ceará       Fortaleza    NORDESTE
27    DF     Distrito Federal        Brasília  CENTROESTE
7     ES       Espírito Santo         Vitória     SUDESTE
8     GO                Goiás         Goiânia  CENTROESTE
9     MA             Maranhão        São Luís    NORDESTE
10    MT          Mato Grosso          Cuiabá  CENTROESTE
11    MS   Mato Grosso do Sul    Campo Grande  CENTROESTE
12    MG         Minas Gerais  Belo Horizonte     SUDESTE
15    PR               Paraná        Curitiba         SUL
14    PB              Paraíba     João Pessoa    NORDESTE
13    PA                 Pará           Belém       NORTE
16    PE           Pernambuco          Recife    NORDESTE
17    PI                Piauí        Teresina    NORDESTE
19    RN  Rio Grande do Norte           Natal    NORDESTE
20    RS    Rio Grande do Sul    Porto Alegre         SUL
18    RJ       Rio de Janeiro  Rio de Janeiro     SUDESTE
21    RO             Rondônia     Porto Velho       NORTE
22    RR              Roraima       Boa Vista       NORTE
23    SC       Santa Catarina   Florianópolis         SUL
25    SE              Sergipe         Aracaju    NORDESTE
24    SP            São Paulo       São Paulo     SUDESTE
26    TO            Tocantins          Palmas       NORTE

In [30]:
df.sort_values('SIGLA')

   SIGLA               ESTADO         CAPITAL      REGIAO
1     AC                 Acre      Rio Branco       NORTE
2     AL              Alagoas          Maceió    NORDESTE
4     AM             Amazonas          Manaus       NORTE
3     AP                Amapá          Macapá       NORTE
5     BA                Bahia        Salvador    NORDESTE
6     CE                Ceará       Fortaleza    NORDESTE
27    DF     Distrito Federal        Brasília  CENTROESTE
7     ES       Espírito Santo         Vitória     SUDESTE
8     GO                Goiás         Goiânia  CENTROESTE
9     MA             Maranhão        São Luís    NORDESTE
12    MG         Minas Gerais  Belo Horizonte     SUDESTE
11    MS   Mato Grosso do Sul    Campo Grande  CENTROESTE
10    MT          Mato Grosso          Cuiabá  CENTROESTE
13    PA                 Pará           Belém       NORTE
14    PB              Paraíba     João Pessoa    NORDESTE
16    PE           Pernambuco          Recife    NORDESTE
17    PI                Piauí        Teresina    NORDESTE
15    PR               Paraná        Curitiba         SUL
18    RJ       Rio de Janeiro  Rio de Janeiro     SUDESTE
19    RN  Rio Grande do Norte           Natal    NORDESTE
21    RO             Rondônia     Porto Velho       NORTE
22    RR              Roraima       Boa Vista       NORTE
20    RS    Rio Grande do Sul    Porto Alegre         SUL
23    SC       Santa Catarina   Florianópolis         SUL
25    SE              Sergipe         Aracaju    NORDESTE
24    SP            São Paulo       São Paulo     SUDESTE
26    TO            Tocantins          Palmas       NORTE

In [31]:
df.sort_values('ESTADO').to_json(data_path/'estados_br.json', indent=2, orient='records')