In [1]:
!pip install pony

Requirement already satisfied: pony in /opt/conda/lib/python3.10/site-packages (0.7.16)

In [2]:
from pony import orm
from pony.orm import Required, Optional, Set, select
from pathlib import Path
import pandas as pd

In [3]:
db = orm.Database()

In [4]:
class Person(db.Entity):
    __table__='persons'
    name = Required(str)
    age = Required(int)
    cars = Set('Car')

class Car(db.Entity):
    __table__='cars'
    make = Required(str)
    model = Required(str)
    owner = Required(Person)

In [5]:
Path().absolute().parent.joinpath('data_files', 'databases', 'database.sqlite')

PosixPath('/home/jovyan/work/data_files/databases/database.sqlite')

In [6]:
database = Path().absolute().parent.joinpath('data_files', 'databases', 'database.sqlite')
db.bind(provider='sqlite', filename=database.as_posix(), create_db=True)
db.generate_mapping(create_tables=True)

In [7]:
p1 = Person(name='John', age=20)
p2 = Person(name='Mary', age=22)
p3 = Person(name='Bob', age=30)

c1 = Car(make='Toyota', model='Prius', owner=p2)
c2 = Car(make='Ford', model='Explorer', owner=p3)

In [8]:
Person.select_by_sql('SELECT * FROM Person')

[Person[1], Person[2], Person[3]]

In [9]:
Car.select_by_sql('SELECT * FROM Car')

[Car[1], Car[2]]

In [10]:
for person in select(p for p in Person if p.age > 20):
    print(person.name)

Mary
Bob

In [13]:
for person in Person.select_by_sql('SELECT "p"."id", "p"."name" FROM "Person" "p" WHERE "p"."age" > 20'):
    print(person.name)

Mary
Bob