# Acadêmia JEDI

**[Guilda JEDI Incolume](https://discord.gg/eBNamXVtBW) - Grupo Python Incolume**

**JEDI - Junta Especializada de Desenvolvimento e Inovação**

---

## Problema

**Raspagem municípios brasileiros**

Raspar informações sobre municípios brasileiros.

`
Obs: Baixe o conteúdo de origem em: https://cidades.ibge.gov.br/brasil/panorama > Aniversário dos Municípios > donwload (aniversariantes.cvs)
`

## Resultado esperado

Arquivo json, csv, excel contendo nome, data de criação, estado e região do município.

## Exemplos

N/A.

## Referências
- Arquivo CSV: https://cidades.ibge.gov.br/7708db06-febf-4848-99b8-c18e2859f50b
- Link principal: https://cidades.ibge.gov.br/brasil/panorama

 - N/A (Caso haja referências podem ser listadas aqui)

In [ ]:
import pandas as pd
from enum import Enum
import datetime as dt
from dataclasses import dataclass
from pathlib import Path

In [ ]:
# diretório para armazenamento e leitura de conteúdos gerados.

data_path = Path().resolve().parents[2].joinpath('data_files')
display(data_path.is_dir())
data_path

In [ ]:
# definição de regiões

Regiao = Enum('Regiao', 'NORTE NORDESTE CENTROESTE SUDESTE SUL'.split())

Regiao

In [ ]:
# definição de Estado


@dataclass
class Estado:
    sigla: str
    estado: str
    capital: str
    regiao: Regiao

In [ ]:
# Definição de município


@dataclass
class Municipio:
    estado: Estado = ''
    nome: str = ''
    data: dt.datetime = None
    mes: int = 0
    dia: int = 0

In [ ]:
# carregamento de dados dos estados

estados = pd.read_json(data_path / 'json' / 'estados_br.json')
estados

In [38]:
municipios = pd.read_csv(data_path / 'csv' / 'aniversariantes.csv')
municipios

      UF  CODIGO_MUNICIPIO            NOME_MUNICIPIO  DIA  MES
0     AM            130080                     Borba    1    1
1     PA            150611                 Quatipuru    1    1
2     PA            150796                Terra Alta    1    1
3     TO            170770                Filadélfia    1    1
4     TO            171370  Monte Santo do Tocantins    1    1
...   ..               ...                       ...  ...  ...
5565  SP            350090                    Altair   31   12
5566  SC            420550                 Fraiburgo   31   12
5567  SC            420990                   Lontras   31   12
5568  RS            430045                   Alegria   31   12
5569  MT            510140                  Aripuanã   31   12

[5570 rows x 5 columns]